<section class="popup-graybox">
  <div class="ebook-popup-sec">
    <img src="../../../assets/login02_popup.png" alt="">
    <h2 data-edit="text">Not found page</h2>
    <h3 data-edit="text">We can't seem to find the page to you looking for.
    </h3>
    <div class="ebook-email-sec">

      <button routerLink="/login" class="ebook-input-btn" type="submit">go to home</button>

      <!-- <button class="ebook-cls-btn close-btn">X</button> -->
    </div>
    <!-- <h5>Go back<a routerLink="/login"><span> Click Here</span></a> to Login</h5> -->
  </div>
</section>