<div class="main" style="background-color: blueviolet;">
  <section class="popup-graybox">
    <div class="ebook-popup-sec">
      <img src="../../../assets/login02_popup.png" alt="">
      <h2 data-edit="text">Login to our Store</h2>
      <h3 data-edit="text">Login to our online store and start shopping your favourite products withg huge discounts
      </h3>
      <div class="ebook-email-sec">
        <input type="email" class="ebookemail-input1" data-edit="placeholder" placeholder="Enter User Name">
        <input type="email" class="ebookemail-input2" data-edit="placeholder" placeholder="Enter Password">
        <button class="ebook-input-btn" type="submit">alright, login now</button>
        <!-- <button class="ebook-cls-btn close-btn">X</button> -->
      </div>
      <h5>Not Registered? <span>Click Here</span> to Register</h5>
    </div>
  </section>
</div>